#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#newtask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
    width: 70%;
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newtask input:focus {
    outline: none;
    border-color: #8052ec;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.edit-task {
    background-color: #fa0404
}

.add-task {
    background-color: #8052ec;
}