.btn {
    width: 10%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    flex: 0 0 40px;
}

.delete {
    margin-left: 10px;
    cursor: pointer;
    background-color: #fa0404;
}

.done {
    margin-left: auto;
    cursor: pointer;
    background-color: #3392C9;
}

.btn.disabled {
    margin-left: 10px;
    background-color: #b7b5b5;
}

.task {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    cursor: pointer;
    word-break: break-all;
}

.tasks-container {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.completed {
    text-decoration: line-through #fa0404;
}